<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2 class="text-center display-3 font-weight-bold">Existen <%= pluralize(@project.errors.count, "errores") %>
      No se logro guardar el registro </h2>
    <ul>
      <% @project.errors.full_messages.each do |message|%>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h2 class="text-center display-3 font-weight-bold">Se guardo su registro con exito!! :D</h2>
<% end %>